package {{modelPackage}}

{{#imports}}{{#-first}}
{{/-first}}import {{import}}
{{/imports}}
{{#threetenbp}}
import org.threeten.bp.LocalDateTime
{{/threetenbp}}
import com.squareup.moshi.Json
import com.squareup.moshi.JsonClass
import java.io.ByteArrayInputStream
import java.io.ByteArrayOutputStream
import java.io.ObjectInputStream
import java.io.ObjectOutputStream
import java.io.Serializable

{{#models}}
{{#model}}
{{#isEnum}}{{>enum_class}}{{/isEnum}}{{^isEnum}}{{#isAlias}}typealias {{classname}} = {{dataType}}{{/isAlias}}{{^isAlias}}{{>data_class}}{{/isAlias}}{{/isEnum}}
{{/model}}
{{/models}}
